<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Hello Index Page</h1>
    <h2>@ViewBag.CurrentTime</h2> <!--@@ sign is C# code. Razor view engine-->
    <h2>@ViewData["CurrentTime"]</h2> <!--@@ sign is C# code. Razor view engine-->
</body>
</html>