<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style></style>
</head>
<body>
    <h1>The Invite Website - Header</h1>

    @RenderBody()

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>

