
@{
    ViewData["Title"] = "User Index";
}

<div>Welcome @ViewBag.CurrentUser</div>
<ol>
    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Create an order</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="ViewOrders">View Order History</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Sign Out</a>
</ol>

